*.layout
*.bin
past stimuli backup/
Spheres/Bonsai/SphereStimuli/test_scripts/
Spheres/Bonsai/SphereStimuli/test_scripts_useful/
Spheres/Objects/unused mouse models/
Spheres/Objects/sphere_bonsai.obj
Spheres/Objects/suzanne.obj
Spheres/Bonsai/SphereStimuli/test.zip

mouse_v5_L1.123c39936173-d151-40e8-af05-73d28ae0f772/

*Extensions.assets.cache
*Extensions.csprojAssemblyReference.cache

